@font-face {
  font-family: spartan;
  src: url(/League_Spartan/static/LeagueSpartan-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: spartan;
  src: url(/League_Spartan/static/LeagueSpartan-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: spartan;
  src: url(/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: spartan;
  src: url(/League_Spartan/static/LeagueSpartan-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: spartan;
  src: url(/League_Spartan/static/LeagueSpartan-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: spartan;
  src: url(/League_Spartan/static/LeagueSpartan-Black.ttf);
  font-weight: 900;
}
html {
  font-family: spartan;
}

body {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 4.5rem 2.5rem;
  height: 100%;
}
.container .pattern .top-pattern {
  position: absolute;
  top: 0;
  right: 100%;
  inset: 0;
}
.container .header {
  margin-bottom: 2rem;
}
.container .header #h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 800;
  line-height: 2rem;
  text-align: center;
  padding: 0 1rem;
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}
.container .header .header-paragraph {
  color: hsl(303, 10%, 53%);
  text-align: center;
  font-weight: 500;
  line-height: 1.3rem;
}
.container .rate-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .rate-boxes .rate-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background-color: rgba(236, 201, 238, 0.3);
  padding: 1rem 1rem;
  width: 300px;
  border-radius: 0.5rem;
}
.container .rate-boxes .stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .rate-boxes .stars img {
  padding-right: 0.5rem;
}
.container .rate-boxes .box-text {
  text-align: center;
  margin-top: 0.8rem;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 1.1rem;
}
.container .content-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .content-boxes .content-box {
  background-color: hsl(300, 43%, 22%);
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}
.container .content-boxes .content-profile {
  padding: 2.4rem 3rem 0rem;
  display: flex;
}
.container .content-boxes .content-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.container .content-boxes .content-profile .name {
  padding-left: 1.1rem;
}
.container .content-boxes .content-profile .name .colton, .container .content-boxes .content-profile .name .anne, .container .content-boxes .content-profile .name .irene {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}
.container .content-boxes .content-profile .name .colton-info, .container .content-boxes .content-profile .name .irene-info, .container .content-boxes .content-profile .name .anne-info {
  color: hsl(333, 80%, 67%);
  font-weight: 500;
}
.container .content-boxes .content-texts {
  color: hsl(0, 0%, 100%);
  padding: 1.2rem 3rem 2rem;
}

@media only screen and (min-width: 425px) {
  body {
    width: 100%;
  }
}
@media only screen and (min-width: 500px) {
  body {
    width: 100%;
  }
  body .container {
    width: 100%;
  }
  body .name {
    padding-left: 2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 90%;
  }
  .container .pattern img {
    content: " ";
    content: url(/images/bg-pattern-top-desktop.svg);
    inset: 0;
    position: absolute;
    opacity: 1;
  }
  .container .pattern .bottom-pattern {
    content: url(/images/bg-pattern-bottom-desktop.svg);
    position: absolute;
  }
  .container .top-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .container .top-head .header {
    flex-basis: 50%;
  }
  .container .top-head .header #h1 {
    text-align: left;
    width: 400px;
    line-height: 2.8rem;
    font-size: 3rem;
  }
  .container .top-head .header .header-paragraph {
    font-size: 1.5rem;
    line-height: 1.8rem;
    width: 600px;
    text-align: left;
    padding-left: 1rem;
  }
  .container .top-head .header .header-paragraph p {
    width: 100%;
  }
  .container .top-head .rate-boxes {
    width: 50%;
    margin-right: 8rem;
  }
  .container .top-head .rate-boxes .rate-box {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container .top-head .rate-boxes .rate-box .stars {
    margin-right: 3rem;
  }
  .container .top-head .rate-boxes .rate-box .box-text {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .container .top-head .rate-boxes .second-box {
    margin-left: 7rem;
  }
  .container .top-head .rate-boxes .third-box {
    margin-left: 14rem;
  }
  .container .top-head .rate-box {
    width: 650px;
  }
  .container .content-boxes {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    height: 500px;
  }
  .container .content-boxes .second-content-box {
    margin-top: 1.5rem;
  }
  .container .content-boxes .third-content-box {
    margin-top: 3rem;
  }
  .container .content-boxes .content-box {
    margin-right: 1.5rem;
    width: 420px;
    height: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
