@mixin repons(){

    @media only screen and (max-width:768px) {
        body{
            max-width: 400px;
            margin: 0 auto;
            padding: 2rem 0;
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .saba{
                h1{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1.2rem;
                    
                    span{
                        font-size: 2rem;
                    }
                }
            }
        }
        // title
        .title{
            h2{
                font-size: 2rem;
            }
        }
        // Menu Buttons
        .buttons{
            max-width: 250px;
            margin-bottom: 4rem;
            .btn{
                font-size: .8rem;
            }
        }
        // Menu Bar
        .menu{
            max-width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: auto;
                margin-bottom: 8rem;
                    img{
                        min-width: 280px;
                        min-height: 130px;
                        margin-bottom: 1.2rem;
                    }
                    .item_info{
                        width: 300px;
                    }
            }
        }
    }
    @media only screen and (max-width:1024px){
        .menu{
            width:880px;
            grid-template-columns: repeat(2,400px);
            justify-content: space-between;
            align-items: center;
            // gap: 3rem;

            .item{
                width: 450px;
                height: 150px;

                img{
                    width: 160px;
                    height: 130px;
                }
            }
        }
    }
    @media only screen and (min-width:2000px){
        .menu{
            grid-template-columns: repeat(3,500px);
            gap: 4rem;
        }
    }
}