body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #06283D;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 5%;
}
header h1 {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: #fff;
}
header h1 span {
  font-weight: 700;
  font-size: 2.5rem;
  color: orangered;
}

.container {
  height: 70%;
  position: relative;
  background-color: #fff;
  width: 400px;
  height: 100px;
  overflow: hidden;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-box {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box input {
  width: 70%;
  padding-left: 1rem;
  color: #06283D;
  font-size: 1.5rem;
  text-transform: capitalize;
  border-radius: 1rem;
  border: none;
}
.search-box input::placeholder {
  color: #06283D;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.search-box button {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border: none;
  font-size: 1.3rem;
  margin-left: 0.5rem;
  color: #06283D;
  cursor: pointer;
  transition: 0.3s ease-out;
  border-radius: 50%;
}
.search-box button:hover {
  background-color: #06283D;
  color: #fff;
}
.search-box i {
  color: #06283D;
  font-size: 1.7rem;
  margin-right: 0.6rem;
}

.not-found {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found img {
  width: 70%;
  height: 70%;
}
.not-found p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.weather-box {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  margin-bottom: 3rem;
}
.weather-box img {
  margin-top: 3rem;
  width: 60%;
}
.weather-box .temperature {
  color: #06283D;
  margin-top: 1.3rem;
  position: relative;
  font-weight: 800;
  font-size: 3rem;
}
.weather-box .temperature span {
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  top: 3%;
}
.weather-box .description {
  font-weight: 500;
  color: #06283D;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  height: 20%;
  display: none;
  justify-content: space-between;
  padding: 0 3.5rem;
}
.weather-details .icon {
  font-size: 1.8rem;
  color: #06283D;
  margin-right: 0.5rem;
  height: 45px;
}
.weather-details .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #06283D;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3rem;
}
.weather-details .text p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.weather-details .text span {
  font-weight: 500;
}
.weather-details .details {
  height: 100px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.weather-details .fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}
@keyframes fadeIn {
  to {
    scale: 100 !important;
    opacity: 100 !important;
  }
}

/*# sourceMappingURL=style.css.map */
