@mixin border {
    @each $t in $items {
        .#{$t}{

        @if $t == 'box-1'{
                border-top: 3px solid $Cyan;
                grid-column: 1/2;
                grid-row: 3/3;
        }
        @if $t == 'box-2'{
            border-top: 3px solid $Red;
            grid-column: 2/3;
            grid-row: 2/2;
        }
        @if $t == 'box-3'{
            border-top: 3px solid $Orange;
            grid-column: 2/3;
            grid-row: 4;
        }

        @if $t == 'box-4'{
            border-top: 3px solid $Blue;
            grid-column: 3/5;
            grid-row: 3/3;
        }
    }}
}

@mixin respon{
    @media only screen and (min-width:1024px) {
        .container{
            width: 100%;
            height: 100%;
            justify-content: flex-start;

        // ===== Header ======
        .header{
            max-width: 800px ;
            .first_line {
                font-size: 2.5rem;
                color: $GrayishBlue;
            }
            .second_line{
                font-size: 2.5rem;
            }
            .paragraph{
                text-align:center;
                font-size: 1.5rem;
                width: 800px;
            }
        }
    }


        .boxs {
            grid-template-columns: repeat(3 auto);
            grid-template-rows: auto auto 1px auto auto;
            display: grid;
            grid-gap: 1rem;
                
            .box {
                margin-bottom: 0;
            }
        }
        .box-2{
            padding-top:rem;
        }
    };

    @media only screen and (min-width:1440px){
        .boxs{
            .box{
                width: 400px;
            }
        }
    }
}