html{
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
.links , section , footer ,h1,.explore-btn{
    text-transform: capitalize;
}
ul {
    list-style-type: none;
  }
a {
    text-decoration: none;
}

header {
    background: url(../picture/pexels-eberhard-grossgasteiger-1292115.jpg) center/cover no-repeat;
    min-height: 100vh;
    max-width:100%;
    
    @include flex-align-center;
    .nav-toggle{
        visibility: hidden;
    }
}
//  Nav bar /////////////
.nav-bar{
    width: 100%;
    height: auto;
    transition: all .1s ease-in;

    .nav-center{
        width: 100%;
        display: flex;
        margin-top: 2rem;
        align-items: center;
        justify-content: space-around;
        .nav-header{
            h1{
                font-size: 2rem;
                font-weight: 800;
                font-style: italic;
                span{
                    color: $forest-green;
                }
            }
            height: 50px;
        }
    }
    .links-container{
        // height: auto !important;
        width: 500px;
        .links{
            min-height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 1.2rem;
            a{
                transition: $linear;
                color: rgb(0,0,0,.8);
                transition: $ease-in;
                font-weight: 500;
            }
            a:hover{
                color: $forest-green;
                transition: $linear;
            }
        }
    }
}
// fix navbar ///////////////////
.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: $forest-green;
    transition: $ease-out;
    box-shadow: 0px 8px 20px rgb(0,0,0,.6 )!important;
    h1{
        color: whitesmoke;
    }
    .links-container{
        .links{
            a{
                color:whitesmoke;
            }
            a:hover{
                color: black;
            }
        }
    }
}
.banner{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .banner-header{
        h1{
            color: $forest-green;
            font-size: 2.8rem;
        }
    }
    .container{
        max-width: 1000px;
        margin: 0 2rem;
        min-height: 266px;
        box-shadow: inset 0px -5px 20px rgb(0,0,0,.6 );
        padding: 2rem 1rem;
        border-radius: .825rem;
        @include flex-center;

        p{
            color: whitesmoke;
            text-align: center;
            font-size: 1.1rem;
            font-weight: 500;
            // -webkit-text-stroke: .4px black;
        }
        a{  
            @include flex-center;
            background-color: rgb(0,0,0,.3);
            box-shadow:0px 10px 20px rgba(255, 255, 255, 0.404);
            border: 1px solid rgb(0,0,0,.1);
            margin-top: 1rem;
            width: 170px;
            height: 50px;
            border-radius: .825rem;
            color: whitesmoke;
            transition: all ease-in .5s;

        }
        a:hover{
            box-shadow:0px 10px 20px rgb(0,0,0,.9);
            transition: ease-out .3s;
            top: 1rem;

        }
    }
}
.section{
    height: 100vh;
    @include flex-align-center;
    .title{
        font-size: 1.5rem;
        margin-top: 2rem;
        span{
            color: $forest-green;
        }
    }
}
#about{
    background: url(../picture/about.jpg);
}
#services{
    background: url(../picture/service.jpg);
}
#tours{
    background: url(../picture/tour.jpg);
}
.footer{
    background-color: $forest-green;
    height: 90px;
    @include flex-center;
    color:whitesmoke;
    font-family: "Inter";
}
.top-link{
    @include flex-center;
    width: 50px;
    height: 50px;
    border-radius: .825rem;
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    color: white;
    font-size: 1.25rem;
    background-color: rgb(0,0,0,.3);
    box-shadow: inset 0px 0px 10px white;
    animation: bounce 2s ease-in-out infinite ;
    transition: all  .3s ease-out;
    display: none;
}
.top-link-active{
    @include flex-center;
    transition: ease-in .3s;
}
.top-link:hover{
    animation: bounce-hover 2s infinite;
    transition: ease-out .1s;
}
@include responsive-all;