
// regular
@font-face {
    font-family: spartan;
    src: url(/League_Spartan/static/LeagueSpartan-Regular.ttf);
    font-weight: 400;
}

//medium
@font-face {
    font-family: spartan;
    src: url(/League_Spartan/static/LeagueSpartan-Medium.ttf);
    font-weight: 500;
}

//black
@font-face {
    font-family: spartan;
    src: url(/League_Spartan/static/LeagueSpartan-SemiBold.ttf);
    font-weight: 600;
}

//bold
@font-face {
    font-family: spartan;
    src: url(/League_Spartan/static/LeagueSpartan-Bold.ttf);
    font-weight: 700;
}

//extra-bold
@font-face {
    font-family: spartan;
    src: url(/League_Spartan/static/LeagueSpartan-ExtraBold.ttf);
    font-weight: 800;
}

//black
@font-face {
    font-family: spartan;
    src: url(/League_Spartan/static/LeagueSpartan-Black.ttf);
    font-weight: 900;
}