html {
    font-family: spartan;
}

// body ////
body {
    width: 375px;
    display:           flex;
    flex-direction:  column; 
    align-items:     center;
    // height: 1000px !important;
}

// container ////
.container {
    padding: 4.5rem 2.5rem;
    height: 100%;

    // background pattern ///
    .pattern {
        .top-pattern {
            position: absolute;
            top: 0;
            right: 100%;
            inset: 0;
        }

    }

    //header ////
    .header{
        margin-bottom: 2rem;
            #h1{
                color: $VeryDarkMagenta;
                font-weight:      800;
                line-height:     2rem;
                text-align:    center;
                padding:       0 1rem;
                font-size:     2.5rem;
                margin-bottom: 1.2rem;
            }

            .header-paragraph{
                color: $DarkGrayishMagenta;
                text-align:  center;
                font-weight:    500;
                line-height: 1.3rem;
            }
    }

    //Rate Boxes ///
    .rate-boxes {
        display:           flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: center;

        .rate-box {
            display:          flex;
            flex-direction: column;
            margin-bottom: 1rem;
            background-color: rgb(236, 201, 238,.3);
            padding: 1rem 1rem ;
            width: 300px;
            border-radius: .5rem;
        }

        .stars {
            display:           flex;
            align-items:     center;
            justify-content: center;
            img{
                padding-right: .5rem;
            }
        }

        .box-text {
            text-align:      center;
            margin-top:       .8rem;
            color: $VeryDarkMagenta;
            font-weight:        700;
            font-size:       1.1rem;
        }
    }

    // Content Boxes ///
    .content-boxes {
        display: flex;
        flex-direction:column ;
        justify-content: center;
        
        .content-box {
            background-color: $VeryDarkMagenta;
            margin-bottom: 1.5rem;
            border-radius: .5rem;
        }

        .content-profile{
            padding: 2.4rem 3rem 0rem;
            display: flex;


            
                img{
                    width:        45px;
                    height:       45px;
                    border-radius: 50%;
                }

                .name {
                    padding-left: 1.1rem;

                    .colton , .anne , .irene {
                        color:     $White;
                        font-weight : 500;
                    }

                    .colton-info , .irene-info , .anne-info {
                        color:  $SoftPink;
                        font-weight : 500;
                    }

                }
        }
        .content-texts {
            color: $White;
            padding: 1.2rem 3rem 2rem;
        }

    }
}

@include Media (pre-tablet);
@include Media (min-tablet);
@include Media (laptop);