// Colors

// Primary

$VeryDarkMagenta: hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67% );

// Neutral

$DarkGrayishMagenta: hsl(303, 10%, 53%);
$DarkGrayishMagentabox:hsla(302, 10%, 53%, 0.02);
$LightGrayishMagenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);


// padding  / margin

$padding-left: 1rem;
$content-boxs-padding-top:2.065rem;
$boxs-margin-bottom:1rem;
$stars-space:.5rem;



// font-weights

$reg:400;
$med:500;
$bold:700;