@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f3f4f8;
  height: auto;
  padding: 5rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container .name {
  width: auto;
  color: #212121;
  margin-bottom: 3rem;
}
.container .name h1 {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.6rem;
}
.container .name h1 span {
  position: relative;
  font-family: "Poppins";
  color: #ff6d00;
  font-size: 2.5rem;
  font-weight: 900;
  transition: ease-in 0.2s;
  animation-name: name;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes name {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 4px;
  }
  100% {
    bottom: 0;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.title h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #212121;
  font-size: 2.2rem;
  font-weight: 900;
}
.title h2 .underline {
  width: 50px;
  height: 5px;
  border-radius: 1rem;
  background-color: #ff6d00;
  transition: ease-in 0.3s;
}
.title h2:hover .underline {
  width: 70px;
  transition: ease-out 0.2s;
}

.buttons {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.buttons .btn {
  width: auto;
  padding: 5px 10px;
  color: #ff6d00;
  background-color: #f3f4f8;
  border-radius: 1rem;
  border: 1px solid #ff6d00;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
  transition: ease-in 0.2s;
}
.buttons .btn:hover {
  transition: ease-out 0.2s;
  background-color: #ff6d00;
  color: white;
}

.menu {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(3, 150px);
  gap: 3rem;
  margin-top: 3rem;
}
.menu .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  max-height: 150px;
}
.menu .item img {
  background-size: cover;
  width: 40%;
  height: 120px;
  border: 2px solid #ff6d00;
  border-radius: 0.3rem;
}
.menu .item .item_info {
  width: 70%;
  max-height: 120px;
  padding: 0 0.7rem;
  font-family: "Poppins";
}
.menu .item .item_info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #9e9e9e;
  margin-bottom: 0.5rem;
  padding-bottom: 0.1rem;
}
.menu .item .item_info header .item_name {
  font-weight: 600;
  color: #212121;
  transition: ease-in 0.2s;
  cursor: pointer;
}
.menu .item .item_info header .item_name:hover {
  transition: ease-out 0.2s;
  color: #ff6d00;
}
.menu .item .item_info header .price {
  color: #212121;
  font-weight: 600;
  color: #ff6d00;
}
.menu .item .item_info p {
  width: 100%;
  color: #212121;
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .name h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
  }
  .container .name h1 span {
    font-size: 2rem;
  }
  .title h2 {
    font-size: 2rem;
  }
  .buttons {
    max-width: 250px;
    margin-bottom: 4rem;
  }
  .buttons .btn {
    font-size: 0.8rem;
  }
  .menu {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 8rem;
  }
  .menu .item img {
    min-width: 280px;
    min-height: 130px;
    margin-bottom: 1.2rem;
  }
  .menu .item .item_info {
    width: 300px;
  }
}
@media only screen and (max-width: 1024px) {
  .menu {
    width: 880px;
    grid-template-columns: repeat(2, 400px);
    justify-content: space-between;
    align-items: center;
  }
  .menu .item {
    width: 450px;
    height: 150px;
  }
  .menu .item img {
    width: 160px;
    height: 130px;
  }
}
@media only screen and (min-width: 2000px) {
  .menu {
    grid-template-columns: repeat(3, 500px);
    gap: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
